/* HTML Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font: inherit;
	vertical-align: baseline;
	
	/* Total box size includes padding */
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

/* Establish html5 elements for older browsers */
article, 
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* Page Wrapper */
.wrapper {
	display: block; 
	width: 100%;
	/*max-width: 960px; */
	margin-left: auto; 
	margin-right: auto;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  font-weight: 400;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 2rem 0 0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em;
  font-weight: 700; }

h5 {
  font-size: 1em;
  font-weight: 700;
  padding: 0.25em 0; }

h6 {
  padding: 0.25em 0;
  margin: 0;
  font-style: italic;
  font-size: 1em; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

p,
blockquote,
pre,
address {
  margin: 0.25em 0;
  padding: 0.25em 0;
  line-height: 1.5em;
  font-weight: 300;
  color: #666; }

blockquote {
  /*background: #f9f9f9;*/
  margin: 1em;
  padding: 1.5em 1em 0.3em 1em; }

blockquote:before {
  color: rgba(0, 0, 0, 0.5);
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em; }

blockquote cite {
  display: block;
  padding: 0.25em;
  color: #999;
  font-size: 0.95em;
  text-align: right; }

blockquote cite:before {
  content: "\2014 \2009"; }

pre {
  padding: 1em;
  margin: 1.5em;
  border-left: 0.5em solid #ddd;
  font-size: 0.9em;
  background-color: #777;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  color: white;
  text-shadow: 1px 1px 1px black;
  white-space: pre-wrap;
  -moz-tab-size: 3;
  -o-tab-size: 3;
  tab-size: 3; }

address {
  font-size: 0.9em; }

table {
  width: 100%;
  margin: 0.25em;
  border-collapse: collapse;
  box-shadow: 1px 1px 5px #666; }

tr:nth-child(2n) {
  background-color: #f9f9f9; }

td,
th {
  padding: 0.5em;
  border: 1px solid #666; }

th {
  text-align: left;
  border-bottom: 2px solid #666;
  background-color: #ddd; }

figure img {
  height: auto;
  box-shadow: 1px 1px 5px #999;
  padding: 0.4em;
  border: 1px solid #999;
  border-radius: 3px; }

ul, ol {
  /*margin-left:1.1em;*/ }

li {
  padding: 0.25em;
  margin: 0.25em; }

input,
textarea {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset; }

legend {
  position: relative;
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 3px; }

fieldset {
  position: absolute;
  display: inline-block;
  top: -0.8em;
  left: 0.75em;
  padding: 0.1em 0.3em;
  background-color: #fff; }
